<p-card header="Nueva contraseña" styleClass="bg-card-custom shadow-8 animate__animated animate__fadeIn animate__fast">
  <form [formGroup]="resetearForm" (ngSubmit)="resetear()">
    <div class="grid justify-content-center">
      <div class="col-12 mb-2">
          <span class="p-float-label">
            <input id="email" type="email" class="w-full border-round-2xl" [ngClass]="{'ng-invalid ng-dirty': campoValido('email')}" 
                  formControlName="email" (input)="toLowerCase('email')" pInputText autocomplete="off"> 
            <label for="email">Correo</label>
          </span>
          <small class="p-error block mt-1" *ngIf="campoValido('email')">{{ emailErrorMsg }}</small>
      </div>

      <div class="col-12 mb-2">
        <span class="p-float-label">
          <input id="password" type="password" class="w-full border-round-2xl" [ngClass]="{'ng-invalid ng-dirty': campoValido('password')}" 
                  formControlName="password" pInputText autocomplete="off"> 
          <label for="password">Contraseña</label>
        </span>
        <small class="p-error block mt-1" *ngIf="campoValido('password')">{{ passErrorMsg }}</small>
      </div>

      <div class="col-12 mb-2">
        <span class="p-float-label">
          <input id="passwordConf" type="password" class="w-full border-round-2xl" [ngClass]="{'ng-invalid ng-dirty': campoValido('passwordConf')}" 
                formControlName="passwordConf" pInputText autocomplete="off"> 
          <label for="passwordConf">Confirmar contraseña</label>
        </span>
        <small class="p-error block mt-1" *ngIf="campoValido('passwordConf')">{{ confirmPassErrorMsg}}</small>
      </div>
      
      <div class="col-10">
        <button pButton type="submit" class="w-full border-round-2xl" [loading]="process" [disabled]="process" label="Actualizar contraseña" iconPos="right"></button>
      </div>
      
      
    </div>
  </form>
</p-card>