<p-card header="Recuperar contraseña" styleClass="bg-card-custom shadow-8 animate__animated animate__fadeIn animate__fast">
  <form [formGroup]="recuperarForm" (submit)="recuperar()">
    <div class="grid justify-content-center">
      <div class="col-12 pt-0">
        <span>Te vamos a enviar instrucciones para resetear tu contraseña a tu correo</span>
      </div>
      <div class="col-12 my-3-">
          <span class="p-float-label">
            <input id="email" type="email" class="w-full border-round-2xl" [ngClass]="{'ng-invalid ng-dirty': campoValido('email')}" 
                    formControlName="email" (input)="toLowerCase('email')" pInputText autocomplete="off"> 
            <label for="email">Email</label>
          </span>
          <small class="p-error block mt-1" *ngIf="campoValido('email')">{{ emailErrorMsg }}</small>
      </div>
      
      <div class="col-6">
        <button pButton type="submit" class="w-full border-round-2xl" [loading]="process" [disabled]="process" label="Recuperar" iconPos="right"></button>
      </div>
      
      <div class="col-12 px-0">
        <hr>
        <p class="mt-3 mb-0">¿Recordaste tu contraseña? <a routerLink="/auth/login" class="no-underline">Iniciar sesión</a></p>
      </div>
    </div>
  </form>  
</p-card>
